<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Online Debate</title>
  <meta name="description" content="Online Debate Web App">
  <meta name="author" content="Kriztoper Urmeneta">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <div style="
    display: flex;
    flex-direction: column;
  ">
    <header style="
      border: 1px solid black;
    ">
      <h1>
        Welcome to Online Debate
      </h1>
    </header>
    <main style="
      /* Take the remaining height */
      flex-grow: 1;

      /* Layout the left sidebar, main content and right sidebar */
      display: flex;
      flex-direction: row;
  
      border: 1px solid black;
    ">
        <!-- Left sidebar -->
        <!-- <aside style="
            width: 25%;
            border: 1px solid black;
        ">aside placed here</aside> -->

        <!-- Main content -->
        <article style="
            /* Take the remaining width */
            flex-grow: 1;
            border: 1px solid black;
        ">
          <div class="row"
                style="content: '';
                        display: table;
                        clear: both;
          ">
            <div class="column"
                  style="float: left;
                          width: 50%;
                          border: 1px solid black;
            " *ngFor="let pro of pros">
              <p>{{ pro.comment }}</p>
            </div>
            <div class="column"
                    style="float: right;
                            width: 50%;
                            border: 1px solid black;
            " *ngFor="let opposition of oppositions">
              <p>{{ opposition.comment }}</p>
            </div>
          </div>
        </article>
        <!-- <section style="
          border: 1px solid black;
        ">
          section placed here
        </section> -->

        <!-- Right sidebar -->
        <!-- <nav style="
            width: 20%;
            border: 1px solid black;
        ">
          Navigation placed here
        </nav> -->
    </main>
    <footer>
        This is a footer
    </footer>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>